/* Gornja traka */
h1 {
  color: #F5B700;
  padding: 0px 20px;
  font-family: Verdana;
  font-size: 100%;
}
/*
.topnav {
  background-image: linear-gradient(to left, #0B0033, #0F2A69);
  overflow: hidden;
  border-radius: 15px 15px 15px 15px;
}

.dropbtn {
  background-color: #0B0033;
  color: #F5B700;
  padding: 16px;
  font-size: 20px;
  border: none;
  text-align: right;
  font-family: Verdana;
}

.dropdown {
  float: right;
  overflow: hidden;
  position: static;
  display: inline-block;
  text-align: left;
  font-family: Verdana;
}

.dropdown-content {
  right: 4px;
  left: auto;
  text-align: left;
  display: none;
  position: absolute;
  background-color: #0F2A69;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-family: Verdana;
}

.dropdown-content a {
  float: none;
  color: #F5B700;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: Verdana;
}
.dropdown-content a:hover {background-color: #183e90;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #0F2A69;}

*/

body{
  background-color: #99a6af;
  color: #f2f2f2;
}


/*
.firstimg img{
  width: 100%;
  height: auto;
}

.text_o_radnji {
  font-size: 25px;
  padding-left: 20px;
}
*/

/* Katalog */
h2
{
  margin-top:0px;
  font-size:50px;
  line-height:1.1;
  text-align: center;
}

#cards-container
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.5rem;
}

.card
{
    background-color: var(--light-primary-color);
    position:relative;
    text-align: justify;
    padding: 0.5rem;
}

#cards-container img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
}

main
{
    max-width: 100%;
    margin: 4rem auto;
    background-color: #d6d6d6;
    color: #000;
}

ul.products li {
  width: 370px; /* adjust the size of the catalog block */
  display: inline-block; /* this creates the catalog effect */
  text-align: center; /* align the image to center */
  background-color:#d6d6d6 ; /* background color of each */
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  border-radius: 10px; /* rounded borders effect */
  border: 2px solid #585858; /* border and color */
}

@media screen and (max-width: 1200px) and (min-width: 951px)
{
    #cards-container
    {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.5rem;
    }
/*
    .firstimg img{
      width: 100%;
      height: auto;
    }
  */
}

@media screen and (max-width: 950px)
{
    #cards-container
    {
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
    }
/*
    .firstimg img{
      width: 100%;
      height: auto;
    }
*/
  
}

@media screen and (max-width: 600px)
{
    #cards-container
    {
        display:grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }
/*
    .firstimg img{
      width: 100%;
      height: auto;
    }
  */
}

@keyframes show
{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes hide
{
    from{opacity: 1;}
    to{opacity: 0;}
}
/* NARUDŽBE */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}


input[type=submit] {
  background-color: #F5B700;
  color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #ffd965;
}


.kontakt {
  border-radius: 5px;
  background-color: #d6d6d6;
  color: #000;
  padding: 20px;
}

/*Svatovi*/
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    padding: 30px 100px;
    background-color: whitesmoke;
    background-image: var(--main-gradient);
}

#brand{
    font-weight: bold;
    font-size: 30px;
    display: flex;
    align-items: center;
}

#brand p
{
    font-size: 15px;
    padding-left: 90px;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.banner .imgBx{
    position: absolute;
    background-color: #0a0a0a;
    top: 90px;
    left: 0;
    width: 100%;
    height: 100%;
}

.banner .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s;
    background-position: center;
}

.banner .imgBx img.active{
    animation-name: show;
    animation-duration: 5s;
}

.hide{
    animation-name: hide;
    animation-duration: 5s;
}

.contentBx
{
    color: #fff;
    text-align: center;
    font-size: large;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}

.contentBx h4, .contentBx p
{
    font-size: 30px;
    padding-bottom: 20px;
}

.contentBx h1
{
    font-size: 60px;
    padding-bottom: 20px;
}

button{
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.3em;
    text-shadow: 1px 1px 1px #000000;
    background-color: #F5B700;
    background-image: var(--main-button-gradient);
    border-style: solid;
    border-width: 1px 0px 0px 0px;
    border-color: #FFFFFF94;
    border-radius: 60px 60px 60px 60px;
    box-shadow: 0px 3px 20px 0px rgba(37.00000000000001, 38.99999999999998, 62, 0.4392156862745098);
    padding: 10px 50px 14px 50px;
    color: #ffffff;
}

footer
{
    background-color: whitesmoke;
    background-image: var(--main-gradient);
    line-height: 2em;
    font-size: 20px;
    text-align: center;
    color: #000000;
    padding-bottom: 40px;
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
    border-top: #F5B700 solid 5px;
    margin-top: 20px;
  }

