body, html{
    background-color: #000000;
}
.carousel-item {
    height: 80vh;
}
  
.carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.down-btn {
  position: absolute;
  bottom: -10px;
  left: 50%!important;
  transform: translateX(-50%)!important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px!important;
  height: 80px!important;
  border-radius: 50%!important;
  background-color: #f27d166e!important;
  padding: 50px!important;
  border: 0px;
}

.down-btn:hover{
  background-color: #f27d16b8!important;
}

.down-arrow {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    animation: arrowAnimation 2s infinite;
}

@keyframes arrowAnimation {
    0% {
      bottom: 10px;
    }
    50% {
      bottom: 30px;
    }
    100% {
      bottom: 10px;
    }
  }

h1{
    color:#FFFFFF;
    font-family: "Oswald";
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.5em!important;
    margin-bottom: 50px!important;
}

h3{
    color:#FFFFFF;
    font-family: "Oswald";
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.5em!important;
    margin-bottom: 50px!important;
}


.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.card{
    border: none !important;
    border-radius: 0px !important;
    background-color: #000000!important ;
}
.card-body{
    background-color: #000000;
    border: 1px solid black;
}

.card-text {
    max-height: 50px;
    overflow: hidden;
    transition: max-height 1.5s ease; 
}

.card.expanded .card-text {
    max-height: 1000px !important;
    transition: max-height 1.5s ease; 
}

a {
    color: #F27D16 !important;
    text-decoration: none !important;
    cursor: pointer;
}

p{
    color: white;
    font-family: "Raleway";
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.5em;
}

h2{
    color:#FFFFFF;
    font-family: "Oswald";
    font-size: 5rem !important;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.5em!important;
    margin-bottom: 50px!important;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 10px;
    border-top: 2px solid;
    border-image: linear-gradient(90deg, #FFFFFF21 0%, #FFFFFF21 35%, #F27D16 35%, #F27D16 65%, #FFFFFF21 65%, #FFFFFF21 100%) 1;
}

.form-label{
  text-transform: uppercase!important;
  color: white!important;
  font-family: "Raleway"!important;
  font-weight: 700!important;
}
.form-control{
  background-color: transparent!important;
  border-radius: 0px!important;
  color: white!important;
}
.form-control::placeholder {
  color: rgba(255, 255, 255, 0.508)!important;
}
.form-control:focus {
  background-color: transparent!important;
  color: #fff!important;
}
.form-select{
  background-color: transparent!important;
  border-radius: 0px!important;
  color: white!important;
}
.form-select:focus {
  background-color: #000!important;
}

.overlay {
  position: absolute!important;
  top: 115px;
  left: 0;
  width: 100%;
  height: 85%;
  background-color: rgba(0, 0, 0, 0.5)!important; 
  display: flex;
  flex-direction: column!important;
  justify-content: center!important;
  align-items: center!important;
  color: white!important;
  text-align: center!important;
}

.overlay h1 {
  font-size: 3rem!important;
  margin-bottom: 20px!important;
  font-family: "Oswald"!important;
  font-weight: 700!important;
  text-transform: uppercase!important;
}

.overlay p {
  font-size: 1.5rem!important;
  font-family: "Oswald"!important;
}
.submit-btn{
  background-color: transparent!important;
  border-radius: 0px!important;
  border-color: #F27D16!important;
  font-size: 25px!important;
  font-family: "Oswald"!important;
  font-weight: 700!important;
}
.submit-btn:hover{
  background-color: #F27D16!important;
  border-color: #F27D16!important;
}
.slide-left {
  animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-right {
  animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.card-body{
  border: 0px;
}
.left{
  opacity: 0;
}
.right{
  opacity: 0;
}

.counter {
  font-family: Oswald;
  color: white;
  font-size: 4rem;
  font-weight: 800;
}